.graph {
	height: 10em;
}

.tracks {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style-type: none;
	padding: 0;
}

.cover {
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	opacity: 0.1;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}
